<div class="row">
  <div class="row-height">
    <div class="col-md-5 col-sm-12 col-height <% !left ? print('is-empty') : undefined %> docs-primary">
      <%= left %>
    </div>
    <div class="col-md-7 col-sm-12 col-height <% !right ? print('is-empty') : undefined %> docs-code">
      <%= right %>
    </div>
  </div>
</div>